{% extends "factory/homepage.html" %}
{% load static %}





{% block title %}
  {% if type %}{{ type.name }}{% else %}Furniture{% endif %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="list">
  <h2>Category</h2>
    <ul>
      <li {% if not type %}class="selected"{% endif %}>
        <span>
          <a href="{% url 'factory:product_list' %}">All</a>
        </span>
      </li>
      {% for c in types %}
      <li {% if type.category == c.category %}class="selected" {% endif %}>
        <span>
          <a href="{{ c.get_absolute_url }}">{{ c.category }}</a>
        </span>
      </li>
      {% endfor %}
    </ul>
</div>


<div id="main" class="product-list">
  <h1 class="text-center">
    {% if user.is_staff %}
      <div class="create-button">
        <a href="/create/" class="btn-create" style="color: #000000"><small><small>Add furniture</small></small></a>
      </div>
    {% endif %}
  </h1>

  <div class="sort-buttons text-center">
    <form action="{{ request.get_full_path }}" method="get">
      <button type="submit" name="sort" value="ascending" class="btn-sort">Min price</button>
      <button type="submit" name="sort" value="descending" class="btn-sort">Max price</button>
    </form>
  </div>

  <div class="product-grid">
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img width="600" class="product-image" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/mi_safe.png' %}{% endif %}">
        </a>
        <br/>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        {{ product.price }}
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}