{% extends "templateslab1/main.html" %}


{% block head_meta %}
<Title>FAQ</Title>
<meta name="description" content="Frequently asked by users questions and answers">
<meta name="keywords" content="questions, answers, FAQ, information">
{% endblock %}


{% block content %}
<div class="faq container">
<h2 align="center">FAQ</h2>
<br>
<br>


{% for faq in faqs %}
<details id="faq">

    <summary itemprop="itemListElement" itemscope itemtype="http://schema.org/Question"><strong>{{ faq.question }}</strong></summary>
    <div>
    <br/>
    <p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">{{ faq.answer }}</p>
    <p ><small>{{ faq.created }}</small></p>
    </div>
</details>
<br/>
<hr/>
<br/>

{% endfor %}
{% endblock %}
</div>