
<!DOCTYPE html>

<html>
 <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      body {
        overflow: auto; /* добавить полосу прокрутки */
      }
      main {
        min-height: 90%;
      }

      </style>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Furniture Factory{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/homepage.css" type="text/css">
    <link rel="shortcut icon" href="/static/images/icon.ico" type="image/x-icon">

    <style>

    </style>
</head>
<body>

<header>
    <div class="headernav" style="height: 100%;">
        <a href="/" class="logo">
            <img width="75" src="/static/images/logo.png"/>
        </a>
        <a href="/apistuff/">Lucky Page</a>
        <a href="/main/">new</a>
        {% if user.is_superuser %}
        <a href="/statistic/">Statistic</a>
        {% endif %}
    </div>


</header>
<main>
    <div class="maincontent">
    <div id="subheader" >
        <div class="cart" >
            {% if user.is_authenticated and not user.is_superuser%}
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            In cart:
            <a class="button4" href="{% url 'cart:detail' %}">{{ total_items }} pcs, {{ cart.get_total_price }}</a>
            {% else %}
            Cart empty
            {% endif %}
            {% endwith %}
            {% endif %}
        </div>
        <div class="time">
            <span>Today: <span id='date'></span></span>
            <span>Last reload: <span id='time'></span></span>

        </div>
        </div>
        <div class="login" >
            {% if user.is_authenticated %}
            | {{ user.username }} |
            <a class="button4" href="{% url 'login:logout' %}">Log out</a>
            {% else %}
            <a class="button4" href="{% url 'login:login' %}">Sign in</a>
            <a class="button4" href="{% url 'login:signup' %}">Sign up</a>
            {% endif %}
        </div>
    </div>
    <div style="margin-top: -100px;">
   {% block content %}{% endblock %}
    </div>
    </div>
</main>

    <script>
        const today = new Date();
        const year = today.getFullYear();
        let month = today.getMonth() + 1; // Months start at 0!
        let day = today.getDate();
        let hour = today.getHours();
        let min = today.getMinutes();
         let sec = today.getSeconds();
        if (hour < 10)
            hour = '0' + hour;
        if (min < 10)
            min = '0' + min;
        if (sec < 10)
            sec = '0' + sec;
        if (day  < 10) day  = '0' + day ;
        if ( month < 10)  month = '0' +  month;

        let date_str = day + '-' + month + '-' + year;
        let time = hour + ":" + min + ":" + sec;
        let tz = -(new Date().getTimezoneOffset() / 60);
        if (tz > 0) {
            tz = "+" + tz;
        }
        else if (tz < 0) {
            tz = "-" + tz;
        }
        tz = "UTC" + tz;
        time = time + "   (" + tz + ")"

        document.getElementById('date').innerHTML = date_str;
        document.getElementById('time').innerHTML = time;
        document.getElementById('zone').innerHTML = tz;
    </script>

<div class="footer">
        <p style="color: rgb(100, 0, 140);">&copy; 2023 Feel like a king with our love and furniture.</p>
    </div>
</body>
 <script src="/static/js/age.js" defer></script>
<script src="/static/js/cardanim.js" defer></script>

</html>