{% extends "templateslab1/main.html" %}

{% block head_meta %}

<Title>About</Title>
<meta name="description" content="A lot of strange data and info about company">
<meta name="keywords" content="info, video, audio, certificate, history">
{% endblock %}


{% block content %}
<div style="margin-left: 5%; width: 90%;">
<h2 >something about company</h2>
<div>

    <div id="bf"style="width: 100%;">
        <img id="butterfly" src="/static/images/butterfly1.png" style="width: 100px; position:relative;"/>
        <img id="butterfly2" src="/static/images/butterfly2.png" style="width: 100px; position:relative;"/>
        <img id="butterfly3" src="/static/images/butterfly3.png" style="width: 100px; position:relative;"/>
        <img id="butterfly4" src="/static/images/butterfly4.png" style="width: 100px; position:relative;"/>
    </div>

    <div class="rekvizity">
        <div  id="marginedinfp">
            <h3 >Contact info:</h3>
        </div>

    <p class="rekvizity text">
        Name: <abbr title="Limited Liability Company">LLC</abbr> "QueenSizeCorp"</br>
        Phone: (A1) +375 (29) 390-76-70</br>
        E-mail: vernikon72@gmail.com</br>
        Legal Address: <abbr title="Republic of Belarus">RB</abbr>, Minsk, Odoevskogo street, building 105
    </p>
    </div>
        <br/>
    <figure>
        <img id="logotype" src="/static/images/logo.png" alt="logo" width="96">
       <!-- <figcaption>Logo</figcaption>-->
    </figure>
</div>
<div align="center">

<br/>
<br/>

<figure>
    <figcaption>This is the video that inspired us mostly to create this website</figcaption>
    <br>
    <video src="/static/files/NeverGonnaGiveUUp.mp4" width="720" preload controls>
        Error! Can not display :(
    </video>
</figure>

<p align="center"><strong>And here we have something else for you...</strong></p>

<figure >
    <figcaption>Nice old song that will give you energy for the whole day</figcaption>
    <br>
    <audio src="/static/files/MaoZedongSong.mp3" preload controls>
        Error! Can not play :(
    </audio>
</figure>
</div>


<div class="poem" align="center">
<blockquote lang="en" cite="https://lyricstranslate.com/en/absicht-lyrics.html">
   <p> Tea on the table, <wbr/> shal<wbr/>low lamp light...<br/>
    Custom<wbr/>ers strugg<wbr/>ling to buy <wbr/> them new bed!<br/>
    Don't get too late <wbr/> or you<wbr/>'ll pick a fight<br/>
    Best in <abbr title="New Yourk City">NYC</abbr> life outlet.</p>
     <cite>Me</cite>
</blockquote></br>
    <blockquote lang="de" cite="https://lyricstranslate.com/en/absicht-lyrics.html">
    <p>Ich habe ein Ge<wbr/> wehr<br/>
    Ich habe es ge</wbr>laden<br/>
    Ein Knall... Du hast kein Kopf<wbr/>chen mehr<br/>
    Das sehe ich durch die Schwa<wbr/>den<br/>.
        Entshuldigunf, ich hab' weiteres ver<wbr>gessen(.</p>
        <cite>Till</cite>
</blockquote></br>
</div>

<div class="history">
    <p align="center"><strong>Company history</strong></p>
    <ul title="History">
        <li>
            November 21, 2003 - general director aka admin was born to give birth to the greatest company start.
        </li></br>
        <li>
            2003-2004 - Co-founders were born, also for a high purpose.
        </li></br>
        <li>
            September 1, 2010 - general director aka admin realises what mission she has on her and starts hardworking
            for a better future.
        </li></br>
        <li>
            August, 2021 - general director aka admin is ganing knowledge to start a big project.
        </li></br>
        <li>
            May 11, 2023 - first model was written:</br>
            <code>
                class Client(models.Model):</br>
    """</br>
    module for client</br>
    """</br>
    first_name = models.CharField(max_length=200,
                                  help_text='Name')</br>
    last_name = models.CharField(max_length=200,
                                 help_text='Surname')</br>
    birth_date = models.DateField()</br>
    email = models.EmailField()</br>
    phone = models.CharField(max_length=19,
                             help_text='Phone Number')</br>
    city = models.CharField(max_length=50,
                            help_text='City')</br>
    address = models.CharField(max_length=200,
                               help_text='Street, Building, etc')</br>
    image = models.ImageField(upload_to='user/%Y/%m/%d', default='static/images/mi_safe.png', null=True)</br>

            </code>
        </li></br>
        <li>
            May 20, 2023 - company website firstly launched successfully!!!
        </li></br>
        <li>
            September 20, 2023 - company expansion, new partners appeared.
        </li>
    </ul>
</div>

<br/><br/><br/>

<div class="certificate"  >
    <p id="cert-intro">Certificate of united furniture community membership</p>
    <hr class="certificate-hrdiv"/>
    <p id="cert-title1">UNITED FURNITURE REGISTER</p>
    <p id="cert-title2">CERTIFICATE</p>
    <p id="cert-title3">OF DATA ALTERATION</p>
    <br/>
    <p class="p-double-labeled"><label id="town-label">Minsk, Belarus</label><label id="date-label">28.09.2023</label><p>
    <p id="OOO" class="bold"><abbr title="Limited Liability Company ">LLC</abbr>"QueenSizeCorp"</p>
    <p class="collapse">(TIN 123465789)<p/>
    <p class="bold-underlined collapse">Register number: 6543<p/>

    <div class="left sided">
        <p>Veronika Shaikova<p>
        <p>Director of all associations</p>
    </div>
    <hr class="certificate-hrdiv"/>
    <div class="right sided bold-small">
        <p>Association of Veronika Shaikova)</p>
        <p>Minsk, Odoevskogo street, building 105</p>
        <p>A1: +375 (29) 390-76-70</p>
        <p>e-mail: vernikon72@gmail.com</p>
    </div>
</div >

<div class="fram">
    <br/>
    <br/>
    <a href="https://de.wikipedia.org/wiki/Django_(Framework)" target="fr">django</a>
    <br/>
    <iframe name="fr" width="900", height="400">Old Browser</iframe>
</div>
</div>

{% endblock %}
