{% extends "templateslab1/main.html" %}

{% block head_meta %}
<Title>Main</Title>
<meta name="description" content="The last article and a lot of links, advertisement">
<meta name="keywords" content="kfc, food, article, partners">
{% endblock %}


{% block content %}

<div class="guest container" style="margin-left: 5%; width: 100%;">
    <h2 align="center">GLAVNAYA</h2>
<div class="article_info">
    <br/>
    <h3>Newest Article!</h3>
    <br/>
    <a itemprop="affiliation" itemscope itemtype="http://schema.org/Organization" href="/news/{{article.id}}"
       target="_blank">
        <img src="{{ article.image.url }}" width="300"/>
    </a>
    <br/>
    {{ article.summary }}
</div>
{% if user.is_superuser %}
    <form>
        <label for="rotation-interval">Rotation gap:</label>
        <input type="number" id="rotation-interval" name="rotation-interval" value="5">
        <input type="button" value="Apply" onclick="changeInterval()">
    </form>
{% endif %}
<div class="banners">
    <div class="banner"  hidden>
        <a href="https://www.kfc.by/" target="_blank">
            <img class="bannerimg" src="/static/images/kfc_banner.jpeg" width="600"/>
        </a>
    </div>
    <div class="banner" hidden>
        <a href="https://burger-king.by/" target="_blank" >
            <img class="bannerimg" src="/static/images/bk.jpeg" width="600"/>
        </a>
    </div>
    <div class="banner" hidden>
        <a href="https://dodopizza.by/" target="_blank">
            <img class="bannerimg" src="/static/images/dodo.jpeg" width="600"/>
        </a>
    </div>
</div>
<div class="partners">
    <h3>Our partners</h3>
    <ul style="list-style: none">
        <li style="display: inline; margin-right: 50px" itemprop="affiliation" itemscope
            itemtype="http://schema.org/Organization">
            <a href="https://ami.by/" target="_blank">
                <img class="partner-image" src="/static/images/ami.png" width="75"/></a>
        </li>
        <li style="display: inline; margin-right: 50px" itemprop="affiliation" itemscope
            itemtype="http://schema.org/Organization">
            <a href="https://www.instagram.com/" target="_blank">
                <img class="partner-image" src="/static/images/insta.jpeg" width="75"/></a>
        </li>
        <li style="display: inline">
            <a href="https://evroopt.by/" target="_blank" itemprop="affiliation" itemscope
               itemtype="http://schema.org/Organization">
                <img class="partner-image" src="/static/images/evric.jpeg" width="75"/></a>
        </li>

    </ul>
</div>
</div>
{% endblock %}