{% load static %}

<!DOCTYPE html>
<html lang="en" >

 <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      body {
        overflow: auto; /* добавить полосу прокрутки */
      }
      main {
        min-height: 90%;
      }

      </style>

<head>
    <meta charset="UTF-8">
    {% block head_meta %}{% endblock %}
    <link rel="shortcut icon" href="/static/images/icon.ico" type="image/x-icon">
     <link rel="stylesheet" href="/static/css/main.css" type="text/css">
</head>


<body>

<header>

    <nav>
    <ul class="navbar" style="list-style: none">
        <li style="display: inline; margin-right: 50px"><a href="/main/">Main page</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/about/">About company</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/contacts/">Contacts</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/faq/">FAQ</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/privacy_policy/">Privacy policy</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/promo/">Promos</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/vacancies/">Vacancies</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/news/">News</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/comments/">Comments</a></li>
        <li style="display: inline; margin-right: 50px"><a href="/">Catalogue (old site)</a></li>
    </ul>
    </nav>
    </header>
<main>
    <img class="bg-im" src="/static/images/bckgrnd.jpeg"/>
    <div class="maincontent">
    {% block content %}{% endblock %}
    </div>

</main>
<footer > <p style="color: rgb(100, 0, 140);"> &copy; 2023 Feel like a king with our love and furniture.</p></footer>
</body>
</html>