{% extends "templateslab1/main.html" %}

{% block head_meta %}
<Title>Policy</Title>
<meta name="description" content="Privacy policy of the company with download copy">
<meta name="keywords" content="privacy, policy, privacy policy, download">
{% endblock %}

{% block content %}

<h2 align="center">privacy policy</h2>
<br>
<br>
<ul style="list-style: none; margin-left: 10%" >
    <li><a href="#intro" style="color: black">Introduction</a></li>
    <li><a href="#1" style="color: black">1. Data Protection</a></li>
    <li><a href="#2" style="color: black">2. Privacy Policy</a></li>
    <li><a href="#3" style="color: black">3. Terms and Conditions</a></li>
    <li><a href="#4" style="color: black">4. Cookies</a></li>
    <li><a href="#5" style="color: black">5. External Links</a></li>
    <li><a href="#6" style="color: black">6. Communication</a></li>
    <li><a href="#conc" style="color: black">Conclusion</a></li>
</ul>
<table border="1" style="margin-left: 10%; margin-right: 10%">
    <tr>
        <td>
<div class="policy_text">

<p id="intro">
    <u>Introduction:</u><br>
    <small>At our furniture store, we <em>prioritize</em> the satisfaction and privacy of our customers. To ensure a <strong>seamless
        and secure online shopping experience</strong>, we have established a comprehensive website policy that outlines
    our commitment to protecting customer information and providing transparent terms and conditions. In this article,
        we will discuss the <em>key elements</em> of our website policy.</small>
</p>
<p id="1">
    <u>1. Data Protection:</u><br>
    <small>We understand the <em>importance of safeguarding customer data</em> and have implemented robust security measures to protect
        personal information. Our website utilizes <strong>encryption technology</strong> to secure all data transmitted between customers
        and our servers. We adhere to <em>applicable data protection laws and regulations</em>, ensuring that customer information
        is <strong>stored securely and used solely</strong> for the <em>purpose of order processing and communication.</em></small>
</p>

    <p id="2">
        <u>2. Privacy Policy:</u><br>
        <small>Our <em>privacy policy</em> outlines how we collect, use, and disclose customer information. We are <em>committed</em> to respecting the
            <strong>privacy rights of our customers</strong> and only collect necessary data to fulfill orders and <strong>provide personalized services</strong>.
            We do not <em>sell or share</em> customer information with third parties without explicit consent, except as <strong>required by law</strong>
        or to facilitate delivery services.</small>
</p>

    <p id="3">
        <u>3. Terms and Conditions:</u><br>
        <small>Our website's terms and conditions <em>clearly define</em> the <strong>rights and responsibilities</strong> of both the customer and the
    furniture store. This includes details regarding product descriptions, pricing, payment methods, cancellation
            and return policies, and warranty information. By placing an order on our website, customers <strong>agree to abide</strong>> by
    these terms and conditions.</small>

</p>

    <p id="4">
        <u>4. Cookies:</u>
        <small>We use cookies on our website to enhance the browsing experience and gather anonymous <em>statistical information</em>. Cookies
            are small text files that are stored on a <strong>user's device</strong> to track preferences and improve website functionality.
            Customers have the option to accept or decline cookies through their <em>browser settings</em>.</small>

</p>

    <p id="5">
        <u>5. External Links:</u><br>
    <small>Our website may contain links to external websites for additional information or convenience. However, we are not
    responsible for the content or privacy practices of these third-party websites. Customers are encouraged to review
        the privacy policies of any external sites they visit.</small>
</p>
    <p id="6">
        <u>6. Communication:</u><br>
        <small>We <em>may</em> send promotional emails and newsletters to customers who have <strong>provided their consent</strong>. Customers have the
            option to <em>unsubscribe</em> from these communications at any time. We will only contact customers regarding their
            orders or other essential updates <strong>if necessary</strong>.</small>
</p>
    <p id="conc">
        <u>Conclusion:</u><br>
        <small>Our website policy reflects our <em>commitment</em> to providing a <strong>secure and transparent online
            shopping experience</strong> for
            our customers. By <em>prioritizing data protection</em>, outlining clear terms and conditions, and respecting customer
    privacy, we aim to build trust and ensure customer satisfaction. We <em>encourage</em> customers to <strong>review our website
                policy</strong> to understand their <em>rights and responsibilities<em> when using our website.</small>

</p>
</div>
        </td>
    </tr>
</table>
<br/>
<hr/>
<a href="/static/files/privacypolicy.odt" download="policy.odt">Download policy copy (.odt)</a>
<hr/>
{% endblock %}